! xscreensaver ---------------------------------------------------------------

! Xft settings ---------------------------------------------------------------

Xft.dpi:        96
Xft.lcdfilter:	lcddefault
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight

!URxvt.loginShell: True
URxvt.geometry:        118x34
!URxvt.geometry:         130x38
URxvt.background:	black
URxvt.foreground:	white
!URxvt.transparent:	true
!URxvt.shading:	10
URxvt.font:	xft:DejaVu Sans Mono-10
!URxvt.font:     xft:DejaVu Sans Mono-9.25
!URxvt.boldFont:     xft:DejaVu Sans Mono-9.25:bold
URxvt.letterSpace:	-2
URxvt.lineSpace:	0
!URxvt.imLocale:	en_US.utf8
URxvt.scrollstyle:	plain
URxvt.thickness:	12
URxvt.scrollBar_right:	true
URxvt.scrollColor:	#A2B8CA
URxvt.iconFile:	/usr/share/icons/Humanity/apps/48/terminal.svg
URxvt.iso14755: False
! black
URxvt.color0:	#2E3436
URxvt.color8:	#555753
! red
URxvt.color1:	#CC0000
URxvt.color9:	#EF2929
! green
URxvt.color2:	#4E9A06
URxvt.color10:	#8AE234
! yellow
URxvt.color3:	#C4A000
URxvt.color11:	#FCE94F
! blue
URxvt.color4:	#3465A4
URxvt.color12:	#729FCF
! magenta
URxvt.color5:	#75507B
URxvt.color13:	#AD7FA8
! cyan
URxvt.color6:	#06989A
URxvt.color14:	#34E2E2
! white
URxvt.color7:	#D3D7CF
URxvt.color15:	#EEEEEC
URxvt.perl-ext-common	:default,matcher,clipboard
URxvt.urlLauncher	:firefox
URxvt.matcher.button	:1

Memo.background: yellow
Memo.foreground: black

RootTerm.geometry: 234x68
RootTerm.background: black
RootTerm.foreground: white
!RootTerm.borderless: true
RootTerm.transparent: true
RootTerm.shading: 50
RootTerm.font: xft:Monospace-10
RootTerm.letterSpace: -2
RootTerm.lineSpace: 0
!RootTerm.borderColor: #FFFFFF
!RootTerm.externalBorder: 10
RootTerm.internalBorder: 10
RootTerm.scrollBar: false
!RootTerm.scrollstyle: plain
!RootTerm.thickness: 12
!RootTerm.scrollBar_right: true
!RootTerm.scrollColor: #A2B8CA
RootTerm.iso14755: False
! black
RootTerm.color0: #2E3436
RootTerm.color8: #555753
! red
RootTerm.color1: #CC0000
RootTerm.color9: #EF2929
! green
RootTerm.color2: #4E9A06
RootTerm.color10: #8AE234
! yellow
RootTerm.color3: #C4A000
RootTerm.color11: #FCE94F
! blue
RootTerm.color4: #3465A4
RootTerm.color12: #729FCF
! magenta
RootTerm.color5: #75507B
RootTerm.color13: #AD7FA8
! cyan
RootTerm.color6: #06989A
RootTerm.color14: #34E2E2
! white
RootTerm.color7: #D3D7CF
RootTerm.color15: #EEEEEC
